<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Edit Artpiece</h1>

      <%= simple_form_for @artpiece do |f| %>
        <%= f.input :title %>
        <%= f.input :artist %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :availability %>
        <%= f.button :submit, class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>

