<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add an Art Piece</h1>
      <%= simple_form_for(@artpiece) do |f| %>
        <%= f.input :title %>
        <%= f.input :artist %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :availability, label_html: { class: "availability-checkbox"}, label: "Check if available immediately" %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
        <%= f.input :photo, input_html: { class: "d-none", id: "photo-input"}, label_html: { class: "upload-photo"}, label: "📷 Upload a photo" %>
        <%= f.button :submit, "Done", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
