<div class="container container-show-artpiece">
  <div class="subcontainer-show-artpiece">
    <div class="artpiece-banner">
      <% if @artpiece.photo.attached? %>
        <div class="artpiece-banner artpiece-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @artpiece.photo.key %>')">
          <div class="artpiece-info">
            <% if @artpiece.availability %>
              <p class="show-artpiece-availability availability-on">Available</p>
            <% else %>
              <p class="show-artpiece-availability availability-off">Not available</p>
            <% end %>
            <h1><%= @artpiece.title %></h1>
            <p><%= @artpiece.artist %></p>
          </div>
        </div>
      <% else %>
        <div class="artpiece-banner artpiece-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1423742774270-6884aac775fa?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODA5M30’)">
          <div class="artpiece-info">
            <% if @artpiece.availability %>
              <p class="show-artpiece-availability availability-on">Available</p>
            <% else %>
              <p class="show-artpiece-availability availability-off">Not available</p>
            <% end %>
            <h1><%= @artpiece.title %></h1>
            <p><%= @artpiece.artist %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <div class="artpieces-infos-show">
    <p><span class="subtitle">Description:</span> <%= @artpiece.description %></p>
  </div>
  <div class="artpiece-price">
    <p><span class="subtitle">Prix:</span> <%= @artpiece.price %>€ par jour</p>
  </div>

      <% if @artpiece.user != current_user %>
          <div class="banner-content">
            <div class="show-buttons">
              <%= link_to "< Back to Artpieces", artpieces_path, class: "btn" %>
              <%= render 'bookingform' %>
            </div>
          </div>
      <% else %>
          <div class="banner-content">
            <div class="show-buttons">
              <%= link_to 'Edit', edit_artpiece_path(@artpiece), :class => "btn" %>
              <%= link_to 'Delete Artpiece', artpiece_path(@artpiece), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-primary" %>
            </div>
          </div>

      <% end %>

    </div>


  <br>
  <h4>Reviews</h4>
    <% if @artpiece.reviews.empty? %>
      <p>Be the first to leave a review</p>
    <% else %>
      <ul class="list-group">
        <% @artpiece.reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge badge-primary badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span>
            <%= review.content %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <%= render "reviews/new", artpiece: @artpiece, review: @review %>
</div>
