<div class="dashboard text-align-center">
  <div class="container">
    <br>
    <h1>Welcome <%= current_user.first_name.capitalize %></h1>
    <h2>Your Bookings:</h2>
    <div class="card-product">
      <div class="card-product-infos">
        <% current_user.bookings.each do |booking| %>
          <li>
            You’ve booked: <strong><%= booking.artpiece[:title] %></strong> created by <strong><%= booking.artpiece[:artist] %></strong>
            <%= link_to artpiece_booking_path(booking.artpiece, booking), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-primary" do %>
            <%= image_tag "trash.png", class: "imgt" %>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
